<div id="footer-container" class="p-6 bottom-0  border-t-2 border-gray-800">
    <div class="relative flex flex-col w-full md:flex-row justify-center items-center md:justify-between md:items-end md:max-w-[1440px] md:left-1/2 md:transform md:-translate-x-[50%] md:px-6">
        <div class="flex flex-col p-6 gap-4 ">
            <div class="flex flex-row gap-4 items-center">
                <i class="ri-whatsapp-fill"></i>
                <p class="font-semibold text-black">Whatsapp</p>
                <p class="font-normal text-gray-800">56 1275 8324</p>
            </div>
            <div class="flex flex-row gap-4 items-center">
                <i class="ri-mail-fill"></i>
                <p class="font-semibold text-black">Email</p>
                <p class="font-normal text-gray-800">contact@migueleo.com</p>
            </div>
        </div>
        <p>&copy; Design & Development by Miguel Leo</p>
    </div>

</div>