@import "tailwindcss";
@theme{
    --animate-slide-in: slide-in 0.5s ease-in-out;
    --animate-slide-out: slide-out 0.5s ease-in-out;

    @keyframes slide-in {
        0%{
            transform: translateX(-100%)
        }
        100%{
            transform: translateX(0%)
        }
    }
    @keyframes slide-out {
        0%{
            transform: translateX(0%)
        }
        100%{
            transform: translateX(-100%)
        }
    }
}
body{
    font-family: 'Space Grotesk', sans-serif;
}
h1 {
    font-family: 'Space Grotesk', sans-serif;
}
a {
    font-family: 'Space Grotesk', sans-serif;
}

/* Inicialmente oculta el elemento */
.animate-fade-in {
    opacity: 0;
    transform: translateY(20px); /* Pequeño desplazamiento opcional */
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  }
  
  /* Cuando el elemento es visible, aparece con fade-in */
  .animate-fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  @media (max-width: 768px) {
    #value-proposal {
      position: relative;
      height: 100vh;
      overflow: hidden;
    }
  }